body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:456px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:823px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:66px;
  width:395px;
  height:823px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:404px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:135px;
  width:360px;
  height:26px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:139px;
  width:19px;
  height:18px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:139px;
  width:12px;
  height:18px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:139px;
  width:19px;
  height:18px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:139px;
  width:19px;
  height:18px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#BFBFBF;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:142px;
  width:16px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:139px;
  width:19px;
  height:18px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:276px;
  background:inherit;
  background-color:rgba(230, 123, 115, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:211px;
  width:187px;
  height:276px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:218px;
  width:36px;
  height:29px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:2px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:254px;
  width:175px;
  height:1px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:227px;
  width:125px;
  height:16px;
  color:#FFFFFF;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:264px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:263px;
  width:19px;
  height:24px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:448px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:451px;
  width:24px;
  height:20px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:301px;
  width:62px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:303px;
  width:22px;
  height:17px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:211px;
  width:360px;
  height:602px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:293px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(218, 67, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:161px;
  width:360px;
  height:50px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:174px;
  width:26px;
  height:25px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
