body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:456px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:823px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:66px;
  width:395px;
  height:823px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:404px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:135px;
  width:360px;
  height:26px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:139px;
  width:19px;
  height:18px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:139px;
  width:12px;
  height:18px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:139px;
  width:19px;
  height:18px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:139px;
  width:19px;
  height:18px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#BFBFBF;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:142px;
  width:16px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:139px;
  width:19px;
  height:18px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:276px;
  background:inherit;
  background-color:rgba(230, 123, 115, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:211px;
  width:187px;
  height:276px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:218px;
  width:36px;
  height:29px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:2px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:254px;
  width:175px;
  height:1px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:227px;
  width:125px;
  height:16px;
  color:#FFFFFF;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:264px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:263px;
  width:19px;
  height:24px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:448px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:451px;
  width:24px;
  height:20px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:301px;
  width:62px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:303px;
  width:22px;
  height:17px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:211px;
  width:360px;
  height:602px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:293px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(218, 67, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:161px;
  width:360px;
  height:50px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:174px;
  width:26px;
  height:25px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
